# pycache binaries
*/__pycache__/*

# ruff (a linter) cache
.ruff_cache/

# macOS/iOS weird, um, cache?
._*
# I have no clue ._* files are supposed to be for
# but I don't really want them clogging up my git

# this changes when the game is run, so it will
# mess with git diffs an make the game slower to
# download when it's not even nessesary to run it
death-messages.log

# random files from the audacity project I was
# using for the Tina Fey samples
assets/soundfx/raw/so_many_tinafeys_data/

# stuff I was using to make videos about this...
videos/
